---
import BaseLayout from "@layouts/BaseLayout.astro";
import sort from "@utils/sort";
import "zenn-content-css";

import type { Post } from "@type/post";
import { Clock, Tags } from "tabler-icons-react";
import type { MDXInstance } from "astro";
type Props = MDXInstance<Post>;

export async function getStaticPaths() {
  const allPosts = await Astro.glob<Post>(
    "../../../public/contents/**/index.mdx"
  );
  const allSortedPosts = sort(allPosts);

  return allSortedPosts.map((post) => ({
    params: { slug: post.frontmatter.slug },
    props: { ...post },
  }));
}

const {
  Content,
  frontmatter: { title, description, date, tags, thumbnail, slug },
} = Astro.props;
---

<BaseLayout
  title={title}
  thumbnail={`/contents/${slug}/${thumbnail}`}
  url={`/post/${slug}`}
  description={`${description} | 関連ワード：${tags.join(", ")}`}
>
  <div class="post-basic-info">
    <span>
      <Clock size={"1rem"} />
      {date}
    </span>
    <span>
      <Tags size={"1rem"} />
      {tags.map((tag) => <a href={`/`}>{tag}</a>)}
    </span>
  </div>
  <h1 class="title">{title}</h1>
  <img
    class="thumbnail"
    src={`/contents/${slug}/${thumbnail}`}
    alt={`${title}のサムネイル`}
  />
  <div class="znc">
    <Content />
  </div>
</BaseLayout>

<style lang="scss" is:global>
  .post-basic-info svg {
    stroke: #9ca3af;
  }
</style>
<style lang="scss">
  .title {
    font-size: 2rem;
    text-align: center;
    margin-block: 1rem;
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 1rem;
      background: #333;
      margin-block: 1rem 2rem;
      margin-inline: auto;
    }
  }
  .post-basic-info {
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    a {
      &:hover {
        color: #3b82f6;
      }
    }
    a,
    span {
      color: #9ca3af;
    }
    span {
      display: flex;
      gap: 0.2rem;
      align-items: center;
    }
  }
  .thumbnail {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 2px;
    box-shadow: 0 15px 18px -15px rgb(32 32 37 / 25%);
  }
  .znc {
    width: 80%;
    margin-inline: auto;
    margin-block: 2rem;

    @media only screen and (max-width: 37.5rem) {
      width: 100%;
    }
  }
</style>
